---
    version: '2.1'
    
    services:
      db:
        image: postgres:10.6
        command: -c fsync=off -c full_page_writes=off
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: pa55w0rd
          POSTGRES_DB: slurm
        restart: always
        healthcheck:
          test: ["CMD", "pg_isready", "-U", "postgres"]
          interval: 1s
          timeout: 1s
          retries: 60
        
      app:
        build: .
        environment:
          DB_NAME: slurm
          DB_USER: postgres
          DB_PASSWORD: pa55w0rd
          DB_HOST: db
        ports:
          - "8000:8000"
        volumes:
          - ./:/app
        restart: always
        depends_on:
          db:
            condition: service_healthy
    